body{
    background-color: lightskyblue;
    font-family: Roboto;
}
.dropdown{
   width: 200px;
   display: block;
}
.dropdown input{
    max-width: 200px;
}
.dropdown-content{
    background-color: lightblue;
    margin-top: 5px;
    
}
.dropdown-content .stops{
    text-align: left;
    padding: 5px 0 10px 5px;
    border: 1px solid gray;
    margin: 0;
    border-collapse: collapse;
    font-family: Bahnschrift;
    font-weight: bold;
    cursor: pointer;
}
.dropdown-content .stops:hover{
    background-color: lightcoral;
}

.dropdown-content .stops .lines{
    font-size: 10px;
    font-weight: lighter;
}

.departureBoard{
    background-color: rgb(0, 11, 59);
    color: white;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    width: 1000px;
}

.departureBoard .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px lightgray solid;
}
.departureBoard .stopName{
    font-size: 64px;
    font-family: Roboto;
    font-weight: bold;
}

.departureBoard .clock{
    margin: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    float: right;
    color: rgb(255, 255, 255);
    font-size: 84px;
    border-radius: 10px;
}

.departureBoard .line{
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.departureBoard .departure{
    display: flex;
    
    padding-top: 20px;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.departureBoard .lineInfo{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    gap: 10px;

}

.departureBoard .lineDepartures{
    display: flex;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    gap: 10px;
    margin-left: auto;
}

.departureBoard .delayTime{
    color: lightgreen;
    font-size: 36px;
    vertical-align: top;
}
ol {
    list-style-type: none;
}

.setup2 {
    position: fixed;
    background-color: lightgray;
    width: 200px;
    padding: 0;
    margin: 0;
    right: 0px;
    top: 0px;
    font-size: 24px;
}

.setup2 #result {
    font-size: 12px;
}

.departures {
    top: 0px;
    left: 0px;
    width: 1680px;
    height: 1050px;
    position: absolute;
    float: left;
    z-index: 2;
    font-size: 0;
}

.departures > .line{
    width: 400px;
    line-height: 200px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    display: inline-block;
}

.departures > .destination{
    width: 1260px;
    line-height: 200px;
    font-family: Roboto;
    color: white;
    background-color: rgb(25 25 25);
    font-weight: bold;
    font-size: 100px;
    text-align: left;
    display: inline-flex;
    text-transform: uppercase;
    position: absolute;
    padding-left: 20px;
    border-radius: 20px 0 0 0;
    border-collapse: collapse;
    overflow-x: auto;
    align-items: center;
}

.departures .timeZoneDiv{
    background-color: rgb(100 100 100);
    width: 400px;
    height: 100px;
    left: 0px;
    top:200px;
    display: block;
    position: absolute;
    border-radius: 0 0 20px 0;
    z-index: 2;
}

.departures .timeZoneDiv .time{
    font-size: 80px;
    font-family: Roboto;
    font-weight: 400;
    color: white;
    padding-left: 70px;
}

.departures .timeZoneDiv .pres{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    padding: 10px 0 0 50px;
    position: absolute;
    color: white;
    text-align: right;
}

.departures .timeZoneDiv .via{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 300;
    padding: 50px 0 0 70px;
    position: absolute;
    color: white;
    text-align: right;
}

.departures .viaStops{
    display: flex;
    background-color: rgb(50 50 50);
    width: 1280px;
    height: 100px;
    left: 0px;
    top: 200px;
    padding-left: 400px;
    z-index: -1;
    font-family: Roboto;
    font-weight: 400;
    font-size: 72px;
    color: white;
    overflow-x: auto;
    align-items: center;
}

.departures .viaStops::-webkit-scrollbar{
    display: none;
}
@keyframes scrolling {
  from {
    translate: 100%;
  }
  to {
    translate: -100%;
  }
}
.departures .viaStops .roller {

    will-change: transform;
    animation: scrolling 12s linear infinite;
    display: flex;
    flex-shrink: 0;
    padding-right: 50px;
    gap: 10px;
}

.departures .upcomingStopsContainer{
    background-color: rgb(25 25 25);
    height: 445px;
    width: 1680px;
    font-size: 72px;
    font-weight: 400;
    color: white;
    padding: 20px 0 20px 0;
}

.departures .upcomingStopsContainer > img{
    padding: 16px
}

.departures .upcomingStopsContainer > div{
    padding: 13px;
}

.upcomingStopsContainer span > img{
    margin: 0 10px 0 10px;
}

.destination img{
    margin: 0 10px 0 10px;
}
#sipka0 {
    position: absolute;
    left: 152px;
    bottom: 0px;
}

#sipka0end{
    position: absolute;
    left: 152px;
    bottom: 0px;
}

#sipka1 {
    position: absolute;
    left: 286px;
    top: 636px;
}
#sipka1end {
    position: absolute;
    left: 286px;
    top: 675px;
}

#sipka2 {
    position: absolute;
    left: 304px;
    top: 526px;
}
#sipka2end {
    position: absolute;
    left: 304px;
    top: 570px;
}

#sipka3 {
    position: absolute;
    left: 305px;
    top: 415px;
}
#sipka3end {
    position: absolute;
    left: 310px;
    top: 460px;
}

#sipka4 {
    position: absolute;
    left: 289px;
    top: 306px;
}
#sipka4end {
    position: absolute;
    left: 300px;
    top: 352px;
}

#sipka5 {
    position: absolute;
    left: 260px;
    top: 200px;
    z-index: 0;
}
#sipka5end {
    position: absolute;
    left: 260px;
    top: 200px;
    z-index: 0;
}

.departures .upcomingStopsContainer .stop4{
    padding-left: 385px;
    min-height: 87px;

} 
.departures .upcomingStopsContainer .stop1{
    padding-left: 385px;
    min-height: 87px;

}   
.departures .upcomingStopsContainer .stop3{
    padding-left: 400px;
    min-height: 87px;

} 
.departures .upcomingStopsContainer .stop2{
    padding-left: 400px;
    min-height: 87px;

}  

.departures .upcomingStopsContainer .zone4{
    padding-left: 140px;
    padding-top: 40px;
    position: absolute;
    font-size: 48px;
    text-align: right;
    min-width: 120px;
    min-height: 48px;
} 
.departures .upcomingStopsContainer .zone1{
    padding-left: 140px;
    padding-top: 30px;
    position: absolute;
    font-size: 48px;
    text-align: right;
    min-width: 120px;
    min-height: 48px;

}   
.departures .upcomingStopsContainer .zone3{
    padding-left: 150px;
    padding-top: 40px;
    position: absolute;
    font-size: 48px;
    min-width: 120px;
    text-align: right;
    min-height: 48px;

} 
.departures .upcomingStopsContainer .zone2{
    padding-left: 150px;
    padding-top: 30px;
    position: absolute;
    font-size: 48px;
    min-width: 120px;
    text-align: right;
    min-height: 48px;

}    

.departures .announcementContainer{
    background-color: rgb(25 25 25);
    height: 445px;
    width: 1680px;
    font-size: 72px;
    font-weight: 600;
    color: white;
    display: flex;
    padding: 20px 0 20px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.departures .announcementContainer[ hidden ]{
    display: none;
}
.announcementContainer #announcementCZText{
    font-size: 90px;
    color: white;
    font-weight: 600;
}

.announcementContainer #announcementENText{
    font-size: 68px;
    color: rgb(150 150 150);
    font-weight: 300;
}


.departures #nextStopContainer{
    background-color: rgb(50 50 50);
    color: white;
}

.departures #nextStopContainer .header{
    width: 1380px;
    height: 50px;
    font-size: 30px;
    padding-left: 350px;
    display: flex;
    align-items: center;
}

.departures #nextStopContainer .content{
    width: 1680px;
    height: 215px;
    display: flex;
    align-items: flex-start;
}

.departures #nextStopContainer .content.active .nextStopName,
.departures #nextStopContainer .active, 
.departures #nextStopContainer .content.active,
.departures #nextStopContainer.active #zone0,
.departures #nextStopContainer .content.active .zoneHelperCZ,
.departures #nextStopContainer .content.active #transfersHelperCZ
{
    background-color: rgb(180 180 180);
    color: rgb(50 50 50);
}

#upcomingStopsInfoPane{
    background-color: rgb(25 25 25);
    z-index: 2;
    position: relative;
    padding: 15px 0 20px 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#upcomingStopsInfoPane[hidden]{
    display: none;
}

#upcomingStopsInfoPane > div:nth-child(odd){
    background-color: rgb(50 50 50);
}

#upcomingStopsInfoPane div{
    height: 65px;
    width: 810px;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
}

#upcomingStopsInfoPane div .line{
    width: 95px;
    height: 65px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upcomingStopsInfoPane div .arrow{
    width: 25px;
    height: 25px;
    margin: 0 12.5px 0 12.5px;
}

#upcomingStopsInfoPane div .destination{
    font-size: 36px;
    color: white;
}

#upcomingStopsInfoPane div .platform{
    font-size: 36px;
    color: white;
    margin-left: auto;
    margin-right: 40px;
}

#upcomingStopsInfoPane div .time{
    font-size: 36px;
    color: white;
    width: 120px;
    text-align: right;
}

#upcomingStopsInfoPane .noMoreDeps{
    font-size: 36px;
    font-weight: 400;
    color: rgb(150 150 150);
    justify-content: center;
}

.departures #nextStopContainer .content .nextStopName{
    font-size: 90px;
    font-weight: 600;
    padding-left: 350px;
    min-height: 120px;
}

#nextStopHelperCZ{
    color: white;
    font-weight: 400;
}
#nextStopHelperEN{
    color: rgb(150 150 150);
    font-weight: 300;
}

.departures #nextStopContainer .zone0 {
    min-width: 200px;
    padding-top: 64px;
    position: absolute;
    font-size: 72px;
    text-align: right;
}

.departures #nextStopContainer .zoneHelperCZ{
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    text-align: right;
    bottom: 50px;
    left: 15px;
}

.departures #nextStopContainer .zoneHelperEN{
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    color: rgb(150 150 150);
    text-align: right;
    bottom: 15px;
    left: 15px;
}

.departures #nextStopContainer .transfers{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 32px;
    margin: auto 20px 15px auto;
    height: 75px;
}

.departures #nextStopContainer .transfers #transferTypes > *{
    margin-left: 20px;
}

.transfers #transfersHelperCZ {
    color: white;
    font-weight: 400;
}

.transfers #transfersHelperEN {
    color: rgb(150 150 150);
    font-weight: 300;
}

#nextStopContainer .content #transfers[hidden]{
    display: none;
}

@media screen and (max-width: 600px) {
  .setup2 {
    bottom: 0px;
    right: auto;
    top: auto;
    left: 0px
  }
}

#diversion {
    position: absolute;
    left: 0px;
    padding: 0 0 0 0;
    top: 300px;
}

[hidden]{
  display:none;
}