.tbus{
    color: rgb(128 22 111);
    background-color: white;
}
.bus{
    color: rgb(0 120 160);
    background-color: white;

}
.schoolBus{
    color: rgb(0 120 160);
    background-color: white;

}
.regbus{
    color: rgb(25 25 25);
    background-color: white;

}
.nightbus{
    background-color: rgb(0 120 160);
    color: white;
}
.nightregbus{
    background-color: rgb(9 0 62);
    color: white;
}
.specialBus{
    color: rgb(143 188 25);
    background-color: white;

}

.replacement{
    background-color: rgb(255 170 30);
}

.otherBus{
    color: rgb(150 150 150);
    background-color: white;

}
.tram{
    color: rgb(120 2 0);
    background-color: white;
}

.tram{
    color: rgb(120 2 0);
    background-color: white;
}

.nighttram{
    color: white;
    background-color: rgb(120 2 0);
}

.metroA{
    color: white;
    background-color: rgb(0 165 98);
}

.metroB{
    color: rgb(25 25 25);
    background-color: rgb(248 179 34);
}

.metroC{
    color: white;
    background-color: rgb(207 0 61);
}

.metroD{
    color: white;
    background-color: rgb(0 140 190);
}

.train{
    color: white;
    background-color: rgb(15 30 65);
}

.ferry{
    color: rgb(0 164 167);
    background-color: white;
}