body{
    background-color: lightblue;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 600;
}

.toSelect{
    height: 500px;
    overflow-y: scroll;
}

.content{
    display: flex;
    justify-content: space-around;
}

.content > *{
    border: 2px double red;
    background: gray;
}

.trip .time{
    margin-left: auto;
}

.toSelect .trip{
    width: 100%;
    display: flex;
}

.toSelect .trip:nth-child(even){
    background-color: lightgray;
}

.generateJSON{
    background-color: rgb(166, 119, 211);
    box-shadow: 1px black;
    width: 100%;
    height: 50px;
    font-size: 30px;
}

.result textarea{
    width: 99.3%;
    height: 300px;
}

.downloadJSON{
    background-color: rgb(122, 211, 119);
    box-shadow: 1px black;
    width: 100%;
    height: 50px;
    font-size: 30px;
}